*.o
mast_runner
lex.yy.c
*.tab.*
.vscode
target

src/test/cpp/Makefile

# CMakeList
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
runTests
src/test/cpp/lib

bin
!lib/*/*